# This file is part of Astarte.
#
# Copyright 2022 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

[package]
name = "astarte-device-sdk"
version = { workspace = true }
categories = ["embedded", "api-bindings"]
documentation = "https://docs.rs/astarte-device-sdk"
edition = { workspace = true }
homepage = { workspace = true }
# Needed to include the `.sqlx/` hidden folder
include = [
  "/.sqlx",
  "/LICENSES",
  "/benches",
  "/examples",
  "/migrations",
  "/queries",
  "/src",
  "/CHANGELOG.md",
  "/LICENSE",
  "/README.md",
  "!*.sqlite*",
]
keywords = ["sdk", "iot", "astarte"]
license = { workspace = true }
readme = "README.md"
repository = { workspace = true }
rust-version = { workspace = true }
description = "A library that provides communication and pairing primitives to an Astarte Cluster"

[workspace]
resolver = "2"
members = [
  "astarte-device-sdk-derive",
  "e2e-test",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace.package]
version = "0.7.3"
edition = "2021"
homepage = "https://astarte.cloud/"
license = "Apache-2.0"
repository = "https://github.com/astarte-platform/astarte-device-sdk-rust"
rust-version = "1.72.0"

[[bench]]
name = "benchmark"
harness = false

[dependencies]
astarte-device-sdk-derive = { workspace = true, optional = true }
astarte-message-hub-proto = { workspace = true, optional = true }
async-trait = { workspace = true }
base64 = { workspace = true }
bson = { workspace = true, features = ["chrono-0_4"] }
bytes = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
ecdsa = { workspace = true, features = ["sha2"] }
flate2 = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
openssl = { workspace = true, optional = true }
p384 = { workspace = true }
rand_core = { workspace = true, features = ["getrandom"] }
reqwest = { workspace = true, features = ["json", "rustls-tls"] }
rumqttc = { workspace = true }
rustls = { workspace = true, features = ["dangerous_configuration"] }
rustls-native-certs = { workspace = true }
rustls-pemfile = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sqlx = { workspace = true, features = ["runtime-tokio", "sqlite", "macros", "migrate"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["parking_lot", "macros"] }
url = { workspace = true }
uuid = { workspace = true, features = ["v5", "v4"] }
webpki = { workspace = true }
x509-cert = { workspace = true, features = ["builder"] }

[dev-dependencies]
astarte-device-sdk-derive = { workspace = true }
criterion = { workspace = true }
env_logger = { workspace = true }
mockall = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["rt", "rt-multi-thread"] }
tokio-stream = { workspace = true, features = ["net"] }

[features]
derive = ["dep:astarte-device-sdk-derive"]
openssl = ["dep:openssl"]
message-hub = ["dep:astarte-message-hub-proto"]

[workspace.dependencies]
astarte-device-sdk-derive = { version = "=0.7.3", path = "./astarte-device-sdk-derive" }
astarte-message-hub-proto = "0.6.1"
async-trait = "0.1.43"
base64 = "0.21.0"
bson = "2.1.0"
bytes = "1.5.0"
chrono = "0.4.14"
color-eyre = "0.6.3"
criterion = "0.5.1"
ecdsa = "0.16.7"
env_logger = "0.10.0"
eyre = "0.6.12"
flate2 = "1.0.0"
futures = "0.3.0"
http = "0.2.9"
itertools = "0.11.0"
log = "0.4.17"
mockall = "0.11.4"
once_cell = "1.17.1"
openssl = "0.10.46"
p384 = "0.13.0"
proc-macro2 = "1.0.63"
quote = "1.0.28"
rand_core = "0.6.4"
reqwest = "0.11.0"
rumqttc = "0.21.0"
rustls = "0.20.1"
rustls-native-certs = "0.6.0"
rustls-pemfile = "1.0.0"
serde = "1.0.145"
serde_json = "1.0.85"
sqlx = "0.7.0"
structopt = "0.3.26"
syn = "2.0.31"
tempfile = "3.6.0"
thiserror = "1.0.35"
tokio = "1.18.0"
tokio-stream = "0.1.0"
url = "2.2.2"
uuid = "1.0.0"
webpki = "0.22.0"
x509-cert = "0.2.2"
