# This file is part of Astarte.
#
# Copyright 2022 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0


[package]
name = "astarte_sdk"
version = "0.1.0"
authors = ["Riccardo Binetti"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/astarte-platform/astarte-device-sdk-rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.10"
http = "0.2"
openssl = { version = "0.10", features = ["vendored"] }
reqwest = { version = "0.11", features = ["json"] }
rumqttc = "0.13"
rustls = { version="0.20.2", features = ["dangerous_configuration"]}
rustls-native-certs = "0.6.1"
rustls-pemfile = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
url = "2.1"
bson = { version="2.0", features = ["chrono-0_4"]}
log = "0.4"
chrono = "0.4.19"
sqlx = {version="0.5.1", features = ["sqlite", "macros", "runtime-actix-rustls"] }
async-trait = "0.1.51"
uuid = {version="0.8.2", features = ["v5", "v4"] }
base64 = "0.13.0"
webpki = "0.22.0"
flate2 = "1.0"

[dev-dependencies]
structopt = "0.3"
env_logger = "0.9.0"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false # Disable features which are enabled by default
features = ["precommit-hook", "run-cargo-test", "run-cargo-clippy", "run-cargo-fmt"]


[[bin]]
name = "e2etest"
path = "src/e2etest/e2etest.rs"
