# This file is part of Astarte.
#
# Copyright 2023 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

[package]
name = "astarte-device-sdk-derive"
version = "0.5.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/astarte-platform/astarte-device-sdk-rust"
description ="Derive macros implementation used by Astarte Device SDK"
homepage = "https://astarte.cloud/"
documentation = "https://docs.rs/astarte-device-sdk-derive"
readme ="README.md"
keywords = ["sdk", "iot", "astarte", "derive"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
proc-macro = true

[dependencies]
syn = {version = "1.0", features = ["extra-traits"]}
quote = "1.0"
